<video autoplay loop poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid">
<source src="http://demosthenes.info/assets/videos/polina.webm" type="video/webm">
<source src="http://demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
</video>

<ul class="nav pull-right">
	<li><a href="#">Pay Your Rent Here</a></li>
</ul>
	
<div id="banner">
	<div class="banner_content">
		<h1>Come Home</h1><p>To Miami Lakes</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div id="graham_intro" class="col-md-12">
			<h1>Graham Residential</h1>
			<p>A town that provides the conveniences found in larger cities, while maintaining the quality of life and community found only in small hometowns.</p>
		</div>
	</div><br />

	<div id="discovery" class="row">
		<div id="residence_outdoor" class="col-md-3 col-md-offset-1">
			<h1>The Residences At Lakehouse</h1>
		</div>
		<div id="crescent_outdoor" class="col-md-3 col-md-offset-1">
			<h1>Crescent House</h1>
		</div>
		<div id="st_outdoor" class="col-md-3 col-md-offset-1">
			<h1>St.Tropez</h1>
		</div>
	</div>
</div>

<footer class="row">
	<div class="col-md-12">
		<h4>About Us | Contact Us</h4> 
	</div>
</footer>
